extends layout
block content
  .container
    .page-header
      h1 #{title} - #{sourceFile}
      iframe(width='1000', height='800', scrolling='yes', frameborder='no', src= 'http://dataliftapi.azurewebsites.net/swagger/ui/index.html')
